@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root { /* Variaveis */

    --background-color1: #BA5400;
    --background-color2: #B55100;
    --background-color3: #A14800;
    --background-color4: #3B1A00;
    --background-color5: #823B00;
    --background-color6: rgb(104, 104, 104);

    --alert: rgba(255, 0, 0, 0.753);

    --text-color-titulo: rgb(0, 0, 0);
    --text-color-titulo2: rgb(255, 255, 255);
    --text-color-titulo3: #F56E00;

    --text-color-cabeçario: #F56E00;
    --text-color-cabeçario2: white;

    --font-padrao: 'Ubuntu', sans-serif;
    --font-titulo: 'Varela Round', sans-serif;
    
    --contorno: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
}

* {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* configurações globais */

/* Tags */
header { /* configuração padrão do header */
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    box-shadow: inset 0px -10px 15px -10px black;

    height: 450px;
}
hr {
    background-color:black;
    height:2px;
    border-width:0;
}
p {
    padding: 10px;
    color: var(--text-color-cabeçario2);
    text-shadow: var(--contorno);
    text-align: center;
    font-size: 3vh;
}
h1 {
    color: var(--text-color-titulo3);
    text-shadow: var(--contorno);
    text-align: center;
    font-size: 5rem;
    
    padding-top: 20px;
}
h2 {
    color: var(--text-color-cabeçario2);
    text-shadow: var(--contorno);
    text-align: center;
    font-size: 2rem;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
body { /* configuração do corpo*/
    background-color: var(--background-color1);


    margin: 0px;
    padding: 0px;

}
li { /* configuração padrão das listas*/
    list-style: none;
}

/* classes */
.container { /* configuração padrão dos menus */
    display: flex;

    flex-wrap: wrap;
}
.real {
    margin-top: 40px;
    margin-right: 10px;

    color: var(--text-color-cabeçario2);
    text-shadow: var(--contorno);
    text-align: right;

}
.box {
    border: 1px solid black;
    width: 45vw;
    height: auto;

    padding: 10px;
    
    margin: 30px auto;
}
.divs {
    height: auto;
    
    padding-bottom: 50px;
}
.box#auto {
    width: auto;
}

/* ids */
#auto .real{
    margin-top: 0px;
    margin-bottom: 20px;
}
#auto ol {
    text-align: center;
    text-shadow: var(--contorno);
    color: var(--text-color-cabeçario2);
    padding-bottom: 15px;
}
#linha {
    height: 1px;
}

/* bar */

/* header */
header h1 {
    color: var(--text-color-titulo3);
    text-shadow: var(--contorno);
    text-align: center;

    font-size: 6rem;
    padding-top: 12rem;
}
#bar {
    background-image: url(../imagem/bar.jpg);
}

#canec {
    color: var(--alert);
}


/* cozinha */
#cozinha {
    background-position: left bottom;
    background-image: url(../imagem/cozinha.jpg);
}
#cozinha h1 {
    font-size: 6rem;
}

#feijao {
    padding-top: 25px;
    color: var(--alert);
    font-size: 1.6rem;
}
#feijoa {
    color: var(--alert);
    font-size: 1.5rem;
}

@media only screen and (max-width: 755px) {
    
    h1 {
        font-size: 3rem;
    }

    #bloco {
        margin-left: .2vw;
        gap: 3vw;
    }
    #bloco a {
        font-size: 2rem;

    }

}
@media only screen and (max-width: 500px) {
    #Chopp h1 {
        font-size: 3rem;
    }
    #bloco {
        margin-left: 5vw;

        gap: 3vw;
    }
    #bloco a {
        font-size: 5vw;
    }

    .Coz {
        font-size: 2rem;
    }
}
