@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* { /* padrão */
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

:root { /* variaveis */
    --text-cor: white;
    --logo-cor: #F56E00;

    --nav-cor:  #692F00;
    --nav-cor2: #4b2303;

    --scroll: #f56e00;

    --font: 'Ubuntu', sans-serif;
    --font-logo: 'Varela Round', sans-serif;

    --contorno: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
}
/*  scroll  */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
}

/* segunda nav */
#parts {
    display: flex;
    position: fixed;
    top: 60px;

    box-shadow: inset 0px -10px 20px -5px rgba(0, 0, 0, 0.308), 0px -10px 20px -5px rgba(0, 0, 0, 0.068);


    background-color: var(--nav-cor2);
    
    height: 3rem;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    
    text-shadow: var(--contorno);
    z-index: 999;
}
#button {
    display: flex;
    margin: 0 auto;
    gap: 10px;
    list-style: none;
}
#button a{
    display: block;
    padding: .5rem;

    color: var(--text-cor);
    font-family: var(--font);
    text-decoration: none;
    font-size: 1em;

    overflow-y: auto;
}

#Marca {
    width: 100%;
    height: auto;

    background-color: black;

    text-align: center;
}
#Marca p, a{
    color: white;

    font-size: 1vw;
}
#Marca a {
    text-decoration: none;
    padding: 0 5px;
}~

/* navegação */ 
nav { /* configurações */
    display: flex;
    position: fixed;
    top: 0;

    box-shadow: inset 0px -10px 20px -5px rgba(0, 0, 0, 0.308);


    background-color: var(--nav-cor);
    
    height: 60px;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    
    text-shadow: var(--contorno);
    z-index: 1000;
}

#logo a{ /* configurações do logo */
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
    color: var(--logo-cor);
    
    padding-left: 10px;

    font-family: var(--font-logo);
}

#menu { /* configurações do menu */
    display: flex;
    margin-right: 15px;
    gap: 10px;
    list-style: none;
}

#menu a { /* configurações do botão */
    display: block;
    padding: .5rem;
    font-size: 1em;

    color: var(--text-cor);
    font-family: var(--font);
    text-decoration: none;

    overflow-y: auto;
}

#btn-mobile {
    display: none;
}

/*configuração de reponsividade */
@media only screen and (max-width: 500px) {
    #logo { /* ajustes do logo */
        margin: 0px auto;
        font-size: 1em;
        margin-right: 10px;
        width: 30rem;
        text-align: center;
    }

    #menu { /* configuração do botão */
        display: block;

        overflow-y: hidden;
        visibility: hidden;

        position: absolute;
        z-index: 1000;

        width: 100%;
        height: 0px;

        top: 60px;
        left: 0px;

        background-color: var(--nav-cor);

        transition: 1s;
    }

    #menu a {
        font-size: 6vw;
        padding: 2rem 0;
        margin: 0 1rem;   
        border-bottom: 1px solid rgba(0, 0, 0, 0.295) ;
    } 

    #parts {
        height: 8vw;
    }
    #button a{
        font-size: 4vw;
    }
    #button.bnav {
        gap: 2.5px;
    }
    #button.bnav a {
        font-size: 3vw;
    }
    
    #nav.active #menu {
        height: calc(100vh - 60px);  
        visibility: visible;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem .1rem;
        margin-right: 1rem;

        font-size: 1rem;

        border: none;
        background: none;

        cursor: pointer;

        gap: .5rem;
    }

    #icon {
        color: var(--scroll);
        border-top: 2px solid;
        width: 20px;
        transition: all ease-in-out .5s;
    }
    #icon::after, #icon::before {
        content: '';
        display: block;

        background-color: currentColor;

        width: 20px;
        height: 2px;

        margin-top: 5px;
        position: relative;
        transition: .7s;
    }
    
    #nav.active #icon {
        border-top-color: transparent;
    }
    #nav.active #icon::after {
        transform: rotate(135deg);
        top: -7px;
    }
    #nav.active #icon::before {
        transform: rotate(-135deg);
    }
}