@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

:root { /* Variaveis */

    --background-color1: #BA5400;
    --background-color2: #B55100;
    --background-color3: #A14800;
    --background-color4: #3B1A00;
    --background-color5: #823B00;
    --background-color6: rgb(104, 104, 104);

    --text-color-titulo: rgb(0, 0, 0);
    --text-color-titulo2: rgb(255, 255, 255);
    --text-color-titulo3: #F56E00;

    --text-color-cabeçario: #F56E00;
    --text-color-cabeçario2: white;

    --font-padrao: 'Ubuntu', sans-serif;
    --font-titulo: 'Varela Round', sans-serif;
    
    --contorno: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
}

body, html { /* Configurações padrões */
    font-family: var(--font-padrao);

    width: 100%;

    overflow-x: hidden;
}
section { /* divisoria entre sections */
    border-bottom: 2px solid black;
}
ul{ /* configuração padrão de listas */
    list-style: none;
}
a {
    color: var(--text-color-cabeçario2);

    font-family: var(--font-padrao);
}
h1 {
    font-family: var(--font-titulo);

    text-shadow: var(--contorno);
}
p {
    font-family: var(--font-padrao);
}
.container { /* configuração padrão de caixas */
    display: flex;

    flex-wrap: wrap;
}

header { /* Configurações do cabeçario */
    background-image: url(../imagem/wallpaper.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.589);

    max-height: 60vw;
    padding-top: 5vw;
    padding-bottom: 1rem;
}
header img { /* Imagem do Logo no Header*/
    display: block;

    width: 55rem;

    margin: auto;
}


#Autalizações { /* configurações aréa atualizações*/
    background-color: var(--background-color1);

    padding: 10px 0px 0px ;

    height: 30vw;
}
#atual { /* rolagem lateral */
    overflow-y: auto;
    height: 20vw;
}
#Autalizações h1, h2 { /* configuração de Titulo*/
    color: var(--text-color-titulo);
    font-size: 4vw;

    text-align: center;

    margin-top: 1vw;
}
#Autalizações h1 {
    color: var(--text-color-titulo3);
}
.bloco { /*Cofigurações da caixa de atualizações*/
    width: 100vh;
    height: 200px;
    
    margin: 30px auto;
}
.bloco h2 { /* Titulo das caixas atualização*/
    font-size: 3vh;

    margin: 10px 0px;
}
.bloco p { /* Configuração de texto das caixas */
    text-align: center;
    font-size: 3vh;
    color: var(--text-color-cabeçario2);

    padding: 0px 10px 5px;
}


#Menu { /* configuração aréa menu */
    text-align: center;
    
    background-color: var(--background-color2);
    
    padding-top: 1vh;

    height: 20vw;
}
#Menu h1 {
    font-size: 3rem;
    color: var(--text-color-titulo3);
}
.bloco-menu { /* configurações da caixa do menu*/
    width: 200px;
    height: 10vw;
    
    margin: 40px auto;
}
#Menu a { /* configuração do botão cardapio*/

    border: 1px solid black;
    border-radius: 15px;

    color: var(--text-color-cabeçario);
    text-decoration: none;
    font-size: 5vw;
    font-weight: bold;

    padding: 1vw 4vw;
}
#Menu article { /* espaçamento do botão */
    padding-bottom: 3vw;
}


#Depoimentos { /* configuração aréa depoimentos */
    text-align: center;

    background-color: var(--background-color2);
    
    padding: 20px 0px 5px;
    
    height: 50vw;
}
a.com{ /* configurações dos botões de link*/
    padding: 10px;

    margin-top: 20px;
    margin-right: 60px;

    color: var(--text-color-cabeçario);

    font-size: 4vw;
    text-decoration: none;
}
#Depoimentos h1 {
    color: var(--text-color-titulo3);
}
.bloco-depo { /* configurações da caixa do depoimentos */
    width: 40vh;
    
    padding-bottom: 5px;
    margin: 5px auto;
}
.bloco-depo p { /* ajustes de cabeçario*/
    overflow-y: auto;
    height: 27vw;

    color: var(--text-color-cabeçario2);

    margin: 15px auto;
}


#Galeria { /* configurações aréa galeria*/
    height: 70vw;
    width: 100%;

    background-color: var(--background-color5);
}
#img-gal { /* rolagem separada */
    height: 50vw;
    overflow-y: auto;
}
#Galeria h1 { /* configuração de titulo */
    color: var(--text-color-titulo3);
    text-align: center;
    font-weight: bold;
    font-size: 15vw;

    padding-top: 10px;
}   
#Galeria img{ /* configuração das imagens */
    display: block;
    box-shadow: 0px 0px 20px black;

    text-align: center;
    
    margin-top: 3vw;
    margin-left: 2vw;
    width: 30vw;

}

#SMap { /* configurações aréa mapa */
    background-color: var(--background-color3);

    height: 26rem;
}
.bloco-map { /* configurações do texto */
    float: left;

    width: auto;
}
.bloco-map h1 { /* configurações do titulo */
    color: var(--text-color-titulo2);
    font-size: 3.5vw;

    text-shadow: var(--contorno);

    margin-top: 8vw;
    margin-bottom: 5vw;
    margin-left: 3vw;
}
.bloco-map a { /* botão de rotas */
    margin-left: 25%;
    padding: 10px;

    border-radius: 30px;
    border: 1px solid black;
    
    font-size: 4vw;
    font-weight: bold;
    color: var(--text-color-cabeçario);
    text-decoration: none;
}
.google-map { /* Configuração do mapa */
    float: right;

    width: 50%;
    height: 25.8rem;
}


footer { /* configurações aréa roda pé */
    background-color: var(--background-color4);
    border-top: 1px solid black;
    
    margin-top: auto;
    margin-right: auto;

    height: 50vh;
}
footer h2{
    color: var(--text-color-titulo3);
}
.bloco-footer { /* divisoria dos conteiners*/
    color: white;
    text-align: center;
    
    margin: 0px auto;
    width: 20vw;
}

/*  aréa de resposividade media */
@media only screen and (max-width: 755px) {
    header { /* ajustes do header */
        padding-top: 2rem;
    }
    header img { /* ajustes do logo no header */ 
        padding-bottom: 8%;
        width: 30rem;
    }

    #Autalizações { /* ajustes na aréa atualizações */
        height: 15rem;
    }
    #Autalizações > h1 {
        font-size: 2rem;
    }
    #atual { /* ajuste da rolagem lateral de atualizações */
        overflow-y: auto;
        height: 10rem;
    }
    .bloco { /*ajuste da caixa de atualizações*/
        width: 100vh;
        height: 20px;
        
        margin: 30px auto;
    }


    #Menu { /* ajustes aréa menu */
        height: 15rem;
    }
    #Menu article { /* ajuste espaçamento do botão */
        padding-bottom: 5rem;
    }
    .bloco-menu p {
        margin-top: 20px;
        font-size: 1.3rem;
    }

    #Menu a { /* ajuste de tamanho do botão cardapio*/
        font-size: 2rem;
    }

    
    #Depoimentos { /* ajustes aréa depoimentos */
        height: 75vw;
    }
    #CDepoimento { /* ajustes de scroll */
        overflow-y: auto;
        height: 55vw;
    }
    .bloco-depo  { /* ajustes do tamanho dos depoimentos */
        width: 31vh;
    }
    .bloco-depo > p { /* ajustes do tamanho dos textos */
        overflow-y: auto;
        height: 40vw;
    }
    a.com {
        font-size: 1.4rem;
    }

    #Galeria { /* ajustes do tamanho da aréa */
        height: 80vw;
    }
    #img-gal {
        margin: 0px 5vw;
    }
    #Galeria img{ /* ajustes nas imagens */
        width: 25vw;
        margin-left: .6rem;
    }


    #SMap { /* ajuste aréa mapa */
        height: 15.55rem;
    }
    .bloco-map h1 { /* ajuste no titulo */
        font-size: 1.5rem;
        text-align: center;

        margin: 3rem 0px 2vw;
        margin-left: 2rem;

        width: 30vw;
    }
    .bloco-map a {
        margin-left: 10vw;
    }
    .google-map { /* ajuste de tamanho do mapa */
        height: 15.36rem;
    }


    footer {
        height: auto;
    }
    footer p {
        font-size: 2vw;
    }
}

/*  aréa de resposividade pequena*/
@media only screen and (max-width: 400px) {
    header { /* ajustes na aréa header*/
        height: 13rem;

        padding-top: 2rem;
    }
    header img { /* ajustes na aréa header*/
        width: 20rem;
        margin-bottom: 10vw;    
    }

    #Autalizações { /* ajustes na aréa atualizações */
        height: 15rem;
    }
    #Autalizações > h1 {
        font-size: 6vw;
    }
    #atual p {
        font-size: 4vw;
    }
    #atual h2 {
        font-size: 4vw;
    }
    #atual {
        height: 12rem;
        overflow-y: auto;
    }
    .bloco { /* ajustes na divisorias */
        padding-bottom: 50px;
        margin-bottom: 10px;
        margin-top: 5px;
    }


    #Menu { /* ajustes do tamanho em menu */
        height: 18rem;
    }
    .bloco-menu { /* ajustes na margin */
        margin-bottom: 2rem;
    }
    #Menu article { /* ajustes no padding */
        padding-bottom: 2.5rem;
    }
    #Menu h1 { /* ajuste de tamanho */
        font-size: 8vw;
    }
    .bloco-menu p { /* ajuste de tamanho */
        font-size: 1rem;
    }
    #Menu a { /* ajuste de tamanho do botão cardapio*/
        font-size: 1.5rem;
    }

    #Depoimentos { /* ajustes na aréa depoimentos */
        padding-top: 10px;
    }
    #CDepoimento { /* ajustes de scroll */
        height: 45vw;
        overflow-y: auto;

        margin-bottom: 1.5rem;
    }
    .bloco-depo { /* ajuste na divitoria do bloco */ 
        width: 170px;
        height: 150px;
        
        padding-top: 10px;
        margin: 20px auto;

    }
    .bloco-depo > p { /* ajustes nos texto dos paragrafos */
        height: 140px;
        width: 170px;
    }
    a.com {
        margin-right: 3rem;

        font-size: 5vw;
    }


    #galeria { /* ajustes da area galeria */
        height: 40vh;
    }
    #img-gal {
        margin-left: 3vw;
    }
    #Galeria img{ /* ajustes nas imagens */
        width: 25vw;
        margin-left: 1rem;
        margin-bottom: 5vw;
    }

    #SMap { /* ajustes na aréa mapa */
        height: 39.7vw;
    }
    .google-map { /* ajuste no mapa */
        height: 39vw;
    }
    .bloco-map h1 { /* ajuste no titulo */
        font-size: 1.1rem;
        text-align: center;

        margin: 1rem 0px .1rem;
        margin-left: auto;

        width: 6rem;
    }
    .bloco-map a { /* ajustes o botão */
        margin-left: 10vw;

        font-size: 1rem;
    }


    footer { /* ajustes na aréa roda pé*/
        height: auto;
    }
    footer h2 {
        font-size: 1em;
}
    footer p { /* ajuste de paragrafos */
        font-size: .7em;
    }
}