@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

:root {
    --contorno: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: black;
    overflow-x: hidden;
    border-top: 1px solid black;
    width: 100%;
}
ul{
    list-style: none;
}

header {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipO0oD8Tst4qes-CR-KBAoHSEBCu3pBt-zR8zCl9=s1600-w400);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.589);

    height: 60vh;
}

header img {
    display: block;

    margin: auto;
    padding-top: 3vw;
    width: 60vh;

}

section {
    height: 80vh;
}

.container {
    display: flex;

    flex-wrap: wrap;
    
    padding: 10px 0px 10px;
}

#Autalizações {
    overflow-y: auto;
    border-bottom: 1px solid black;
    background-color: rgb(255, 140, 0);

    padding: 10px 0px 0px ;

    height: 50vh;
}
#Autalizações h1, h2 {
    margin-top: 3vw;
    text-align: center;
}

.bloco {
    width: 300px;
    height: 200px;
    
    margin: 0px auto;

    list-style: none;
}
.bloco h2 {
    font-size: 1.2em;
    margin: 20px 0px;
}
.bloco p {
    text-align: center;

    padding: 0px 10px 10px;
}

#Menu {
    text-align: center;
    padding: 20px 0px 5px;

    border-bottom: 1px solid black;

    background-color: rgb(0, 47, 255);

    height: 30vh;
}
.bloco-menu {
    width: 200px;
    height: 25px;
    
    margin: 10px auto;

    list-style: none;
}
#Menu a {
    padding: 10px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#Menu article {
    padding-bottom: 2vw;
}


#Depoimentos {
    text-align: center;
    padding: 20px 0px 5px;

    border-bottom: 1px solid black;

    background-color: lightsalmon;

    height: 36vw;
    overflow-y: auto;
    
}
a.com{
    padding: 10px;

    margin-top: 20px;
    margin-right: 20px;

    color: white;

    text-decoration: none;
}
.bloco-depo {
    list-style: none;
    
    width: 20vw;
    
    padding-bottom: 5px;
    margin: 10px auto;
}
.bloco-depo > p {
    overflow-y: auto;

    height: 290px;
}
.dep {
    padding-bottom: 10px;
}
.bloco-depo p{
    
    margin: 10px auto;
}

#Galeria {
    height: 90vw;
    width: 100%;

    background-color: blue;
    overflow-y: auto;
}
#Galeria h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4em;

    padding-top: 40px;
}   
#Galeria img{
    display: block;
    text-align: center;
    box-shadow: 0px 0px 20px black;
    
    margin-right: 40px;
    margin-left: 50%;
    margin-top: 3vw;
    width: 50vh;
}


#SMap {
    background-color: aquamarine;
    height: 36.6vw;
}
.bloco-map {
    float: left;
    width: auto;

    color: white;
}
.bloco-map h1 {
    font-size: 4vw;
    margin-top: 8vw;
    margin-bottom: 5vw;
    margin-left: 3vw;

    text-shadow: var(--contorno);
}
.bloco-map a {
    margin-left: 13vw;
    padding: 10px;

    border-radius: 30px;
    border: 1px solid black;

    font-size: 4vw;
    
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.google-map {
    float: right;
    width: 50%;
    height: 36.5vw;
}


footer {
    background-color: rgb(104, 104, 104);
    
    margin-top: auto;
    margin-right: auto;
    height: 50vh;
    border-top: 1px solid black;
}
.bloco-footer {
    color: white;
    
    text-align: center;
    list-style: none;
    margin: 0px auto;
    width: 20vw;
}
@media only screen and (max-width: 700px) {
    header img {
        padding-top: 8%;
        width: 50vh;
    }
    
    .bloco-depo  {
        width: 30vw;
    }
    .bloco-depo > p {
        height: 250px;
    }
   
    #Galeria {
        height: 100vw;
    }
    #Galeria img{
        margin-left: 25%;
        width: 25vh;
        margin-right: 40px;
    }

    #Depoimentos {
        height: 65vw;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: 30vh;
    }
    header > img {
        padding-top: 4vw;
        width: 30vh;
    }


    #Autalizações {
        height: 40vh;
    }
    .bloco {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }


    #Menu {
        height: 55vw;
    }
    .bloco-menu {
        margin-bottom: 1vw;
    }
    #Menu article {
        padding-bottom: 10vw;
    }

    #galeria {
        overflow-y: auto;
        height: 60vw;
    }
    #Galeria img{
        width: 16vh;
        margin-bottom: 20%;
        margin-left: 38%;

    }


    #CO {
        overflow-y: auto;
        height: 45vw;
    }
    .dep {
        margin-top: 10px;
    }
    #Depoimentos {
        padding-top: 20px;
        padding-bottom: 20px;
        
        height: 65vw;
    }
    .bloco-depo {
        width: 180px;
        height: 200px;
        
        padding-top: 40px;
        margin: 20px auto;
        margin-bottom: 50px;
    }
    .bloco-depo > p {
        overflow-y: auto;
    
        height: 200px;
        width: 200px;
    }


    #SMap {
        height: 39.7vw;
    }
    .google-map {
        height: 39.5vw;
    }
    .bloco-map h1 {
        font-size: 3vmin;

        margin: 25% 0px 20px;
        margin-left: 9vw;
    }
    .bloco-map a {
        margin-left: 13vw;
        font-size: 3.7vw;
    }


    footer {
        height: auto;
    }
    footer p {
        font-size: .7em;
    }
}